<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>
    
    <label>
        Phone number:
        <input type="telephone" formControlName="phoneNumber">
    </label>

    <label>
        Email:
        <input type="email" formControlName="email">
    </label>
    <label>
        <select name="prefix" id="prefix" formControlName="prefix">
            <option value="+966">+966</option>
        </select>

    </label>

  
    <label>
        roles:
        <select name="roles" id="roles" formControlName="roles">
            <option value="admin">admin</option>
        </select>
    </label>
    <button name="create" type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
  