<div *ngIf="!users" class="users-list">
    <a href="#" class="create-user">create new user</a>
</div>
<div *ngIf="users" class="users-list">
    <div class="card">
        <div class="content">
            <span class="userName">Lorem ipsum</span>
            <span class="email">ats@html.com</span>
            <!-- <span class="phoneNumber">+970597410077</span> -->
            <span class="lastActive">last active 10/1/2020</span>
            <span class="title">User roles</span>
            <a href="#" class="interview-link">Interviewer</a>    
        </div>
        <div class="buttons">
            <a href="#" class="edit">edit</a>
            <a href="" class="delete">delete</a>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="content">
            <span class="userName">Lorem ipsum</span>
            <span class="email">ats@html.com</span>
            <!-- <span class="phoneNumber">+970597410077</span> -->
            <span class="lastActive">last active 10/1/2020</span>
            <span class="title">User roles</span>
            <a href="#" class="interview-link">Interviewer</a>    
        </div>
        <div class="buttons">
            <a href="#" class="edit">edit</a>
            <a href="" class="delete">delete</a>
        </div>
    </div>
</div>